<div id="myCarousel" class="carousel clearfix">
  <!-- Carousel items -->
  <div class="carousel-inner clearfix">
    <div class="active item">
      <h1>Do you know this man?</h1>
      <img class="centered" src="img/kareem.jpg">
    </div>
    <div class="item clearfix">
      <h1>Has he ever said outlandish things to you...</h1>
      <iframe class="centered" width="640" height="480" src="//www.youtube.com/embed/wKcmSzm1r6A" frameborder="0" allowfullscreen></iframe>
      <h1>...like the stuff in this movie?</h1>
    </div>
    <div class="item">
      <h2 class="titleonly">The question is,</h2>
      <h1 class="titleonly"> what's better than Kareem?</h1>
    </div>
    <div class="item">
      <h1>You decide</h1>
      <iframe class="centered" width="640" height="480" src="//www.youtube.com/embed/RhA0PCeIch4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- Carousel nav -->
  <div class="controls">
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<script type="text/javascript">

$('.carousel').carousel();
</script>