<!doctype html>
<html>
  <head>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>
    <link href="some.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>