.carousel, .carousel-inner {
  height: 100%;
  overflow: visible;
}

.carousel-inner .item .centered{
  position: relative;
  top: 300px;
  left: 50%;
  margin-top: -240px;
  margin-left: -320px;
}

h1, h2 {
  line-height: 1.5em;
  font-family: Oswald, Helvetica, Arial, sans-serif;
}

h1{
  text-align: center;
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 60px; 
}

.titles {
  position: relative;
  top: 300px;
  left: 5%;
}

body {
  background-color: black;
}

.controls a {
  position: fixed;
  top: 50%;
}