.carousel, .carousel-inner {
  height: 100%;
  overflow: visible;
}

.carousel-inner .item .centered{
  position: relative;
  top: 300px;
  left: 50%;
  margin-top: -240px;
  margin-left: -320px;
}

.centered {
  margin: auto auto;
}

h1{
  font-family: Oswald, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 90px;
  line-height: 1.5em;
  color: white;
}

h2 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 60px; 
  line-height: 1.5em;
}

.titles {
  position: relative;
  top: 300px;
  left: 5%;
}

.titleonly {

}

body {
  background-color: black;
}

.item {
  overflow: visible;
}

.controls a {
  position: fixed;
  top: 50%;
}